module.exports = function (grunt) {
  // Load tasks
  grunt.loadNpmTasks('grunt-screeps');
  grunt.loadNpmTasks("grunt-eslint");

  grunt.initConfig({
    screeps: {
      options: {
        email: '<your e-mail>',
        token: '<your auth token>',
        branch: 'default',
      // server: 'season'
      },
      dist: {
        src: ['src/*.js']
      }
    },
    eslint: {
      target: ['src/*.js']
    }
  });

  // Linting task
  grunt.registerTask('lint', ['eslint']);
  grunt.registerTask('default', ['eslint', 'screeps']);
};
